.wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: rotate(-15deg);

  img {
    width: 100%;
    transform: scale(1.1);
  }

  p {
    position: absolute;
    font-size: 2rem;
    font-weight: 700;
    text-shadow: -1px -1px 4px #000, 1px -1px 4px #000, -1px 1px 4px #000,
      1px 1px 4px #000;
  }
}
