.wrapper {
  background: #ee3897;
  padding: 24px 0 32px;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;

  .logo {
    width: 100%;
  }

  nav {
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding-left: 22px;

    a {
      font-size: 0.9rem;
      font-weight: 700;
    }
  }
  @media (max-width: 768px) {
    position: fixed;
    z-index: 100;
    max-width: 200px;
    height: 100%;
    top: 0;
    left: 0;
    transition: transform 0.3s;
    transform: translateX(-100%);

    &.open {
      transform: translateX(0%);
    }
  }
}
