.wrapper {
  --widthColumns: 1;
  padding: 12px 24px;
  max-width: calc(980px - 200px - 12px);
  transition: max-width 0.3s;

  &.active {
    max-width: calc(min(1360px + 24px, 100vw) - 200px - 32px);
  }

  .dates {
    display: flex;
    justify-content: space-between;
    margin-bottom: 6px;

    .date {
      font-size: 1.25rem;
      font-weight: 700;
      padding: 6px 12px;
      text-align: center;
      width: 100%;
      cursor: pointer;

      &:hover {
        text-shadow: 0 0 13px pink;
      }
    }
  }

  .schedule {
    overflow: auto;
  }

  .times {
    display: flex;

    .timeTitle,
    .time {
      width: 200px;
      padding: 8px 12px;
      border-left: 1px solid #808bd7;
      flex-shrink: 0;
      margin-left: -1px;
      border-top: 1px solid #808bd7;
      background: #ee3897;
      font-weight: 600;
    }

    .timeTitle {
      width: 100px;
    }
  }

  .track {
    display: flex;

    .trackTitle,
    .emptyItem,
    .trackItem {
      width: calc(
        200px * var(--widthColumns) - 1px * (var(--widthColumns) - 1)
      );
      padding: 6px 12px;
      height: 180px;
      border: 1px solid #808bd7;
      flex-shrink: 0;
      margin-left: -1px;
      margin-top: -1px;
      color: #000;
      font-weight: 600;
      font-size: 1.2rem;
    }
    .trackTitle,
    .emptyItem {
      border-left: none;
      border-right: none;
    }

    .trackTitle {
      background-color: #ee3897;
      color: #fff;
      width: 100px;
      font-size: 1rem;
    }

    &:nth-of-type(2) {
      .trackItem {
        background-color: #e862a9;
      }
    }
    &:nth-of-type(3) {
      .trackItem {
        background-color: #ffbf62;
      }
    }
    &:nth-of-type(4) {
      .trackItem {
        background-color: #75ca8f;
      }
    }
  }
}

@media (max-width: 768px) {
  .wrapper {
    padding: 12px 0px;
    &.active {
      max-width: calc(100vw - 40px);
    }

    .schedule {
      display: flex;
    }

    .track {
      flex-direction: column;
      border-left: 1px solid #808bd7;
      flex: 1;

      .trackTitle,
      .emptyItem,
      .trackItem {
        height: calc(50px * var(--widthColumns) - 0px * (var(--widthColumns)));
        font-size: 0.9rem;
        width: auto;
        flex-shrink: 0;
        margin: 0;
        border: 0;

        &:not(:first-of-type) {
          border-top: 1px solid #808bd7;
        }

        &:first-of-type {
          height: 50px;
          border-top: none;
        }
      }
    }
    .emptyItem {
      border: none !important;
    }
    .times {
      display: flex;
      flex-direction: column;

      .timeTitle,
      .time {
        height: calc(
          50px * var(--widthColumns) - 1px * (var(--widthColumns) - 1)
        );
        width: 80px;
        font-size: 0.6rem;
        display: flex;
        align-items: center;
      }

      .timeTitle {
        width: 80px;
        height: 50px;
        border-top: none;
      }
    }
  }
}
