.ad {
  width: 100%;
  height: auto;
  border-radius: 8px;
  outline: 4px solid #fff;
  object-fit: cover;
  aspect-ratio: 980/100;
}

.ad_wrapper {
  margin: 24px auto;
  display: block;
  height: auto;
  max-width: 980px;
  aspect-ratio: 980/100;
}
