@font-face {
  font-family: 'Playpen Sans';
  src: url('@/assets/fonts/playpensans.woff2') format('woff2');
}
@font-face {
  font-family: 'Equestria';
  src: url('@/assets/fonts/equestria.woff2') format('woff2');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Playpen Sans', Inter, system-ui, Avenir, Helvetica, Arial,
    sans-serif;
  line-height: 1.5;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: inherit;

  &:hover {
    text-shadow: 2px 2px 2px #711d48;
    text-decoration: underline;
  }
}

#app {
  background: url('@/assets/images/bg_global.gif');
  min-width: 100vw;
  min-height: 100vh;
  padding: 0 16px;
}

.global_wrapper {
  max-width: 980px;
  margin: 0 auto;
}

.grid {
  border-radius: 12px;
  outline: 4px solid #fff;
  border: 5px solid #9b258f;
  display: grid;
  grid-template-columns: 200px auto;
  position: relative;
}

.swooshes img {
  position: absolute;
  z-index: 2;

  &:first-of-type {
    top: -52px;
    right: -8px;
  }

  &:last-of-type {
    bottom: -54px;
    left: -10px;
  }
}

main {
  background: #9b258f;
  width: 100%;
  height: 100%;
}
