.wrapper {
  padding: 12px 24px;

  h2 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1.3rem;
    margin-bottom: 4px;
  }

  div {
    margin: 12px 0;
  }

  p,
  a {
    font-size: 1.1rem;
    font-weight: normal;
  }
}
