.wrapper {
  padding: 12px 24px;
  max-height: 584px;
  overflow: auto;

  h2 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1.2rem;
    margin-bottom: 4px;
  }

  div {
    margin: 12px 0;
  }

  p,
  a {
    font-size: 0.8rem;
    font-weight: normal;
  }
}
